/* ***** Common Fix Start here***** */
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
}
/* ***** Common Fix ends here***** */

/* ***** first section start here***** */
.firstsection{
    display: block;
    background-color:var(--gray-color);
}

.topsection{
    height: 880px;
    display: flex;
    /* border: 3px solid blue; */
}
.firstsection-leftdiv{
    height: 100%;
    width: 50%;
  
    padding: 20px;
}

.firstsection-rightdiv{
    height: 100%;
    width: 50%;
    background: url("/images/Hero\ Background\ 09.19.02.png");
    background-size: cover;
    background-position: bottom left;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: var(--main-color);
    font-size: 34px;
    font-family: Arial;
    padding-left: 50px;
    float: left;
    padding-top: 10px;
    padding-left: 50px;
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: var(--text-color);
    font-family: arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #ff7200;
}

.content{
    width: 1200px;
    height: auto;
    margin: auto;
    position: relative;
    padding-left: 50px;

}

.content p{
    padding-bottom: 25px;
    font-family: arial;
    line-height: 30px;
    color: #706458E5;
    margin-top: 2%;
}

.content h4{
    font-family: 'Times New Roman';
    font-size: 20px;
    margin-top: 15%;
    letter-spacing: 2px;
    color: var(--main-color);
}

.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    margin-top: 2%;
    letter-spacing: 2px;
    color: var(--main-color);
}

.iconcontainer{
    border: 2px solid var(--main-color);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: var(--main-color);
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 2%;
}

.logotext{
    margin-bottom: 20px;
}

.heading{
    margin-bottom: 20px;
}

.mobile{
    display: none;
   
}
.mobile-links{
    transform: translatex(200%);
    /* border: 3px solid white; */
    position: fixed;
    right: 0;
    top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: 0.9s ease-in-out;
    /* padding: 10px 0; */
}
.show-mobile-links{
    transform: translateY(0);
    position: absolute;
}
.mobile-links ul{
    /* margin: 10px; */
    list-style: none;
    width: 100%;
    /* border: 3px solid red; */
    /* padding: 10px; */
}
.mobile-links li{
    display: flex;
    /* margin-left: 10px; */
    /* padding: 10px 0; */
    /* border: 3px solid black; */
    /* width: 100%; */
    text-align: left;
    font-size: 25px;
    font-weight: 600;
    background: #D9D9D9;

}
.mobile-links li:hover{
    color: white;
    background: transparent;
}
.mobile-links li a:hover{
    color: white;
    background: transparent;
}

.mobile-links li a{
    color: #706458;
    text-decoration: none;
    width: 100%;
    /* border: 3px solid blue; */
    padding: 14px 0;
    margin-left: 15px;
}

.bottomsection{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 50px;
}

.bottomleft{
  width: 40%;
}

.bottomheading{
   color:#706458;
   font-size: 55px;
}

.findmore{
    text-decoration: none;
    color: var(--main-color);
    display: flex;
    align-items: center;
    margin-top: 27px;
}
.fa-chevron-right{
    font-size: 12px;
    margin-left: 4px;
}

.bottomright{
    width: 45%;
    margin-left: 120px;
}

.bottomright-top{
    display: flex;
    padding: 5px;
    justify-content: space-around;
}

.bottomright-child{
    padding: 10px; 
    width: 40%;
}

.bottomright-child h1{
    font-size: 25px;
    color: var(--main-color);
    margin-bottom: 30px;
}

.bottomright-child p{
    font-size: 18px;
    color: #706458E5;
}

.bottomright-bottom{
    display: flex;
    padding: 5px;
    justify-content: space-around;
}

.bottomright-bottomchild{
    padding: 10px; 
    width: 40%;
}

.bottomright-bottomchild h1{
    font-size: 25px;
    color: var(--main-color);
}

.bottomright-bottomchild p{
    font-size: 18px;
    color: #706458E5;
}
/* ***** first section ends here***** */

/* ***** Second section start here***** */
.secondsection-top{
    border: 3px solid black;
    display: flex;
}

.secondsection-topchild{
    border: 3px solid red;
    display: flex;
    margin: 50px;
}

.secondsection-topheading{
    border: 3px slid blue;

}

.btn{
    color:#A06056;
}

.rows{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
/* ***** Second section ends here***** */